default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
development:
  <<: *default
  database: kadai6-18_development
test:
  <<: *default
  database: kadai6-18_test
production:
  <<: *default
  database: kadai6-18_production
  username: kadai6-18
  password: <%= ENV['KADAI6-18_DATABASE_PASSWORD'] %>
